/* color theme 
    293241 (gunmetal)
    3D5A80 (YinMn blue)
    98C1D9 (powder blue)
    E0FBFC (light cyan)
    EE6C4D (burnt sienna)
    */

body {
  font-family: 'Signika Negative', serif;
  background-color: #e0fbfc;
  color: #293241;
  display: flex;
  flex-direction: row;
  margin: 0;
}

.img-profile {
  max-width: 10rem;
  max-height: 10rem;
  border: 0.25rem solid;
  border-radius: 50%;
  position: center;
}

#sideNav {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 16rem;
  height: 100vh;
  background-color: #3d5a80;
  padding: 1rem;
  text-align: center;
  flex-grow: 0;
  text-transform: uppercase;
  justify-content: center;
  color: #98C1D9;
}

.navTab li {
    padding: 1rem;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.rightSide {
  padding-left: 18rem;
}

section {
  border-bottom: 1px solid rgb(213, 208, 208);
  padding: 3rem;
}

h1,
h2 {
  text-transform: uppercase;
  font-weight: 700;
}

h1 {
    font-size: 3rem;
}