:root {
  --white: #F2EDF1;
  --lightblue: #80B4CF;
  --darkblue: #3D5A80;
  --gray: #757380;
  --darkpurple: #272230;
}

:root {
  overscroll-behavior: none;
}

body {
  font-family: 'Signika Negative', serif;
  margin: 0;
}

#page {
  background-color: red;
  background-color: var(--white);
  color: var(--darkpurple);
  display: flex;
  flex-direction: row;
  overflow: auto;
  height: 100%;
}

.img-profile {
  max-width: 10rem;
  max-height: 10rem;
  border: 0.25rem solid;
  border-radius: 50%;
  position: center;
}

#sideNav {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 16rem;
  height: 100vh;
  background-color: var(--darkblue);
  padding: 1rem;
  text-align: center;
  flex-grow: 0;
  text-transform: uppercase;
  justify-content: center;
  color: var(--lightblue);
}

.navTab li {
  padding: 1rem;
  font-size: larger;
}
.nav-link {
  text-decoration: none;
  color: var(--white);
}
.affix {
  color: red;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

#rightSide {
  margin-left: 18rem;
  /* padding-left: 18rem; */
}

section {
  border-bottom: 1px solid rgb(213, 208, 208);
  padding: 3rem;
}
/* .section-page {
  height: 700px;
} */

h1,
h2 {
  text-transform: uppercase;
  font-weight: 700;
}

h1 {
  font-size: 3rem;
}

.fa {
  padding: 15px;
  font-size: 50px;
  width: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50px;
}
.fa-linkedin,
.fa-github,
.fa-instagram {
  background: var(--lightblue);
  color: white;
}
.socialIcon {
  display: flex;
  flex-direction: row;
}
.socialIcon li {
  padding: 1rem;
}

/* Right Side */
.brainstorm-pic {
  width: 250px;
}
#brainstorm-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3rem;
}
.website-pic {
  width: 350px;
}
#website-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 3rem;
}

#cat-pic-container {
  display: flex;
  justify-content: center;
}
#cat-pic {
  width: 460px;
  border-radius: 30%;
}